body {
  background-color: #dad5e3;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.card {
  width: 400px;
  background: #ebe9f0;
  border: 2px solid #b80000;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px rgb(146, 1, 1);
}

h2, h3 {
  text-align: center;
  color: #b80000;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #b80000;
  border-radius: 5px;
}

button {
  width: 100%;
  background-color: #ab004a;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #b80000;
}

.report-box {
  border-top: 2px dashed #b80000;
  margin-top: 20px;
  padding-top: 15px;
  display: none;
}
